body {
  color: #333;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

h4 {
  font-size: 19px; }

p {
  font-size: 14px;
  line-height: 1.75; }

.pageheader {
  background-color: #4b0082;
  color: #fff;
  padding: 3em 0; }

section {
  padding: 80px 0; }

section:nth-child(odd) {
  background-color: #f7f7f7; }

section h2.section-heading {
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: 0; }

section h3.section-subheading {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
  text-transform: initial; }

.video-wrapper-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  position: relative; }

.video-wrapper {
  height: 0;
  padding-bottom: 56%;
  padding-top: 0;
  position: relative; }
  .video-wrapper iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

.timeline {
  list-style: none;
  padding: 0;
  position: relative; }
  .timeline li {
    margin-bottom: 50px;
    min-height: 100px; }
  .timeline li:last-child {
    margin-bottom: 0; }
  .timeline li::before {
    content: '';
    display: table; }
  .timeline li::after {
    clear: both;
    content: '';
    display: table; }
  .timeline h4 {
    text-transform: initial; }
  .timeline li:nth-child(even) .timeline-panel {
    float: right;
    text-align: left; }
  .timeline::before {
    background-color: #4b0082;
    bottom: 0;
    content: '';
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 2px; }

.timeline-image {
  background-color: #4b0082;
  border: 3px solid #4b0082;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  width: 100px; }

.timeline-image {
  left: 50%;
  position: absolute;
  transform: translateX(-50%); }

.timeline-image-label {
  color: #fff;
  display: flex;
  font-size: 72px;
  justify-content: center;
  margin: 0; }

.timeline-panel {
  float: left;
  padding: 0 20px 20px 30px;
  text-align: right;
  width: 41%; }

.timeline-heading {
  font-weight: 700; }
  .timeline-heading h4 {
    margin-top: 0; }
