<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About me</h2>
        <h3 class="section-subheading text-muted">How I became the software engineer I am today</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- timeline -->
        <ul class="timeline">
          {% for about_item in site.about_items %}
            <li>
              <div class="timeline-image">
                <span class="timeline-image-label {{about_item.icon}}">
              </div>
              <div class="timeline-badges">
                {% for badge in about_item.badges %}
                    <div class="timeline-badge">
                      <span class="{{badge}}"></span>
                    </div>
                {% endfor %}
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>{{about_item.title}}</h4>
                  <h4 class="subheading">{{about_item.subtitle}}</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    {{about_item.content}}
                  </p>
                </div>
              </div>
            </li>
          {% endfor %}
          <li>
            <div class="timeline-image">
              <span class="timeline-image-label devicons devicons-git_pull_request">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
