@import 'colors';

.timeline {
  list-style: none;
  padding: 0;
  position: relative;

  li {
    margin-bottom: 50px;
    min-height: 100px;
  }

  li::before {
    content: '';
    display: table;
  }

  li::after {
    clear: both;
    content: '';
    display: table;
  }

  h4 {
    text-transform: initial;
  }

  &::before {
    background-color: $primary-color;
    bottom: 0;
    content: '';
    left: 50px;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 2px;
  }

  @media (min-width: 768px) {
    .timeline-panel {
      padding: 0 30px 20px 20px;
      width: 41%;
    }

    li:nth-child(odd) {
      .timeline-panel {
        float: left;
        padding: 0 20px 20px 30px;
        text-align: right;
      }

      .timeline-badges {
        float: right;
        text-align: left;
      }
    }

    &::before {
      left: 50%;
    }

    li:last-child {
      margin-bottom: 0;
      min-height: 150px;

      .timeline-image {
        height: 150px;
        width: 150px;
      }

      .timeline-image-label {
        font-size: 96px;
      }
    }
  }
}

.timeline-image {
  background-color: $primary-color;
  border: 3px solid $primary-color;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  left: 0;
  margin-left: 0;
  position: absolute;
  width: 100px;
}

@media (min-width: 768px) {
  .timeline-image {
    left: 50%;
    transform: translateX(-50%);
  }
}

.timeline-image-label {
  color: $secondary-color;
  display: flex;
  font-size: 72px;
  justify-content: center;
  margin: 0;
}

.timeline-panel {
  float: right;
  padding: 0 20px 20px 120px;
  text-align: left;
  width: 100%;
}

.timeline-heading {
  font-weight: 700;

  h4 {
    margin-top: 0;
  }
}

.timeline-badges {
  display: none;
  float: left;
  padding-right: 40px;
  position: relative;
  text-align: right;
  width: 50%;
}

@media (min-width: 768px) {
  .timeline-badges {
    display: initial;
  }
}

.timeline-badge {
  background-color: $primary-color;
  border-radius: 50%;
  color: $text-color-inverted;
  position: absolute;
  text-align: center;
}

.timeline-badge:nth-child(1) {
  height: 60px;
  right: 30px;
  width: 60px;

  span {
    font-size: 40px;
    line-height: 60px;
  }
}

.timeline-badge:nth-child(2) {
  height: 40px;
  right: 80px;
  top: 20px;
  width: 40px;

  span {
    font-size: 24px;
    line-height: 40px;
  }
}
