$text-color: #333;
$text-color-inverted: #fff;
$primary-color: #4b0082;
$secondary-color: #fff;

body {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  font-size: 19px;
}

p {
  font-size: 14px;
  line-height: 1.75;
}

.pageheader {
  background-color: $primary-color;
  color: $text-color-inverted;
  padding: 3em 0;
}

// section
section {
  padding: 80px 0;
}

section:nth-child(odd) {
  background-color: #eee;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  padding-bottom: 15px;
}

section h3.section-subheading {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
  text-transform: initial;
}

// video wrapper
.video-wrapper-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  position: relative;
}

.video-wrapper {
  height: 0;
  padding-bottom: 56%;
  padding-top: 0;
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}



// timeline
.timeline {
  list-style: none;
  padding: 0;

  li {
    clear: both;
  }

  h4 {
    text-transform: initial;
  }

  li:nth-child(even) .timeline-panel {
    float: right;
    text-align: left;
  }

  &::before {
    background-color: $primary-color;
    bottom: 0;
    content: '';
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 2px;
  }
}

.timeline-image {
  background-color: $primary-color;
  border: 3px solid $primary-color;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  width: 100px;
}

.timeline-image {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.timeline-image-label {
  color: $secondary-color;
  display: flex;
  font-size: 72px;
  justify-content: center;
  margin: 0;
}

.timeline-panel {
  float: left;
  padding: 0 20px 20px 30px;
  text-align: right;
  width: 41%;
}

.timeline-heading {
  font-weight: 700;

  h4 {
    margin-top: 0;
  }
}
